.product-list-container{
  max-width: 60rem;
  margin: 8rem auto;
  background-color: #027902;
  box-shadow: 0 2rem 6rem rgba(0,0,0,.3);
  min-height: 50rem;
}

.header{
  height: 3rem;
  background-color: #f4f2f2;
  border-bottom: #ffffff solid;
}

.content{
  display: flex;
}

.sidebar{
  background-color: #023211;
  flex: 0 0 18%;
}

.hotel-view{
  background-color: orangered;

  flex: 1;
}
