<div class="landing-page">
  <div class="container">
    <!--Top navbar-->
    <div class="row evo-nav">
      <div class="evo-nav__logo">

      </div>
      <div class="evo-nav__actions">
        <a class="evo-button__login btn btn-lg btn-no-bg">
          Log in
        </a>
        <a class="evo-button__signUp">
          Sign Up
        </a>
      </div>
    </div>
    <!--Title-->
    <div class="evo-title">
      <h1 class="evo-title__heading">

      </h1>
      <p class="evo-title__subheading">

      </p>
    </div>
    <!--Offers zone-->
    <div class="evo-offer">
      <div class="evo-offer__tracker">

      </div>
      <div class="evo-offer__habitCoach">

      </div>
      <div class="evo-offer__leadCoach">

      </div>
    </div>
    <!--Footer zone-->
    <div class="evo-footer">
    </div>
  </div>
</div>
